body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



main {
    display: flex;
    height: 100%;
}

.left-side {
    flex: 1;
    background: linear-gradient(to bottom left, #00A19B, #003B39); /* Specify the linear gradient colors */
    padding: 20px;
    text-align: center;
}

.text-container {
    margin-bottom: 20px;
}

.welcome-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #FFF;
    padding-top: 100px;
}

.realm-text {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 55px;
    color: #A10006;
}

.adventure-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 39px;
    margin-top: -50PX;
    color: #A10006;
}


.quiz-text {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #FFF;
}


.right-side {
    flex: 1;
    position: relative;
}

.image-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; /* Adjust as needed */
    left: 0;
    background-image: url('newbg.jpg'); /* Set your image here */
    background-size: contain;
    background-position: center;
}
.button-container {
    position: absolute;
    align-items: center;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

button {
    background-color: #00A19B;
    color: white;
    padding: 30px 100px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    
}

button:hover {
    background-color: #45a049;
}

.welcome-text,
.realm-text,
.adventure-text,
.quiz-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as needed */
}

