body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#quiz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: #007bff; /* Blue background for left section */
    color: #fff;
    text-align: center;
}

#left-section {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, #00A19B, #003B39); /* Linear gradient from top to bottom */

}

#right-section {
    display: flex;
    background-color: #E9F2F2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#quiz-header {
    margin-bottom: 20px;
}

#progress {
    font-size: 16px;
    
}

#questionText {
    font-size: 54px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.option {
    cursor: pointer;
    padding: 25px 60px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    color: #D5D7D6;
    font-size: 42px;
    
}

.option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.selected {
    background-color: rgba(255, 255, 255, 0.3);
}

#nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

#nextButton:hover {
    background-color: #0056b3;
    color: #fff;
}
